$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord15: #B48EAD;

body {
    background:$nord0;
    font-family: 'Raleway', sans-serif;
    color: $nord4;
    position: relative;
    overflow: hidden;
    h1{
        font-weight: 500;
        font-size: 4rem;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
    }
    h2 {
        font-weight: 300;
        margin-top: 1rem;
        font-size: 2rem;
    }
    .slide {
        height: 100vh;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        div#particles{
            height: 100vh;
            width: 100%;
            position: absolute;
        }
        section{
            text-align: center;
            width: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            .items {
                width: 100%;
                //height: 100vh;
            }
        }
    }
    
}